<!-- <p>login-form works!</p> -->

<h3 class="bg-success py-2 text-center">This is log in form</h3>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
    <form #logInForm = "ngForm" (submit)="onLogInSubmit(logInForm)">
        <div class="form-group">
          <label for="email">E-Mail</label>
          <input type="text" class="form-control" required ngModel name="email"/>
        </div>

        <div class="text-right">
          <button class="btn btn-success">Log In</button>
        </div>
      </form>
    </div>
  </div>
</div>
