<div class="row text-center">

  <h3 class="alert alert-info">Enter the captcha given in the box into text-box and verify</h3>
  <div class="col-md-6">
    <div class="d-flex mb-2">
      <input
        type="text"
        placeholder="Enter Capctha in the box given below and val"
        class="form-control mr-2"
        #captchavalue
      />
      <button
        class="btn btn-success"
        (click)="checkCaptcha(captchavalue.value)"
      >
        Submit
      </button>
    </div>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-6">
    <div class="captcha-div">
      <h4 class="captcha">{{ captcha }}</h4>
      <button class="btn btn-success ml-2" (click)="generateCaptcha()">
        Refresh
      </button>
    </div>
  </div>
</div>
