<nav>
  angular basics to advance practice
  <span *ngIf="profilepic">
    <img class="profile-pic" [src]="profilepic" />
  </span>
</nav>

<!-- <div class="container"> -->
  <div class="row">
    <!-- ##### ROUTES ###### -->

    <div class="col-md-2">
      <ul class="list-group task-details">
        <li class="list-group-item" routerLink="emp-details">
          Employee Details
        </li>
        <li class="list-group-item" routerLink="stop-watch">Stop Watch</li>
        <li class="list-group-item" routerLink="user-details">User Details</li>
        <li class="list-group-item" routerLink="counter">Counter</li>
        <li class="list-group-item" routerLink="axit">axit</li>
        <li class="list-group-item" routerLink="tdform">tdform</li>
        <li class="list-group-item" routerLink="currencyexchange">Currency Exchange</li>
        <li class="list-group-item" routerLink="jobfair">Job Fair</li>
      </ul>
    </div>



    <!-- ##### ROUTER OUTLET AND SPINNER ###### -->
    <div class="col-md-10">
      <div class="spinner" *ngIf="isLoader">
        <div class="spinner-border text-primary loaderSpinner" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
<!-- </div> -->
